{% extends 'pages/base.html.twig' %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/home.css">
{% endblock %}

{% block body %}

    <main>
        <h2>NOS SERVICES</h2>
        <div class="container-fluid">
            <!-- Section 1 : Nos Services -->
            <section class="row row-cols-1 row-cols-md-2 row-cols-lg-2 ">
                <div class="col Bckg-Carte">
                    <img src="img/photo4aero.jpg" alt="Service Piste" width="100%">
                    <div class="carte-texte">
                        <h4>Piste</h4>
                        <p>
                            Chargement, déchargement et transport des bagages du fret et de la poste, Placement avion, Tractage, repoussage, départs au casque, 
                            Livraison de pièces d’avion, Nettoyage avion, Eau potable et vidange, Transport des passagers et équipages.
                        </p>
                    </div>
                </div>
                <div class="col Bckg-Carte">
                    <img src="img/Photo-GEH-Passager.webp" alt="Services Passagers" width="100%">
                    <div class="carte-texte">
                        <h4>Services aux passagers</h4>
                        <p>
                            Accueil passagers, Enregistrement, embarquement et débarquement, Billetterie, Traitement des passagers en correspondance.
                        </p>
                    </div>
                </div>
                <div class="col Bckg-Carte">
                    <img src="img/Photo-GEH-Cargo.webp" alt="Service Cargo" width="100%">
                    <div class="carte-texte">
                        <h4>Cargo, Fret et Poste</h4>
                        <p>
                            Transport de fret et de la poste en piste arrivée et départ, Traitement des vols camionnés (Vrac et ULD), 
                            Acceptation, sécurisation, tri, classement et palettisation du fret.
                        </p>
                    </div>
                </div>
                <div class="col Bckg-Carte">
                    <img src="img/Photo-GEH-Maintenance.webp" alt="Service Maintenance" width="100%">
                    <div class="carte-texte">
                        <h4>Maintenance</h4>
                        <p>
                            Atelier de maintenance dédié de 3000 m² pour l’entretien et la réparation des véhicules et engins de piste.
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <div>
            <h3 class="m-2 w-25 p-1 Bckg-button"><a href={{path('nosServices')}}>Tous Nos Services<a/></h3>
        </div>

        <!-- Section : nosOffres -->
        <h2 class="m-5">NOS OFFRES</h2>

        <section class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 card violet">
                    <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 card grayish-blue">   
                    <div>
                    <h4 class="h-black">Piste</h4>
                    <p>
                        Chargement, déchargement et transport des bagages du fret et de la poste, Placement avion, Tractage, repoussage, départs au casque, 
                        Livraison de pièces d’avion, Nettoyage avion, Eau potable et vidange, Transport des passagers et équipages.
                    </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 card white ">
                    <div>
                    <h4 class="h-black">Piste</h4>
                    <p>
                        Chargement, déchargement et transport des bagages du fret et de la poste, Placement avion, Tractage, repoussage, départs au casque, 
                        Livraison de pièces d’avion, Nettoyage avion, Eau potable et vidange, Transport des passagers et équipages.
                    </p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 card white">
                    <div>
                    <h4 class="h-black">Services aux passagers</h4>
                    <p>
                        Accueil passagers, Enregistrement, embarquement et débarquement, Billetterie, Traitement des passagers en correspondance.
                    </p>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-6 card blackish-blue">
                    <div>
                    <h4 class="h-black">Services aux passagers</h4>
                    <p>
                        Accueil passagers, Enregistrement, embarquement et débarquement, Billetterie, Traitement des passagers en correspondance.
                    </p>
                    </div>
                </div>
            </div>
        </section>

        <div>
            <h3 class="m-2 w-25 p-1 Bckg-button"><a href={{path('nosOffres')}}>Toutes Nos Offres<a/></h3>
        </div>

        <!-- Section : Chiffres Clés -->
        <h2 class="m-5">CHIFFRES CLÉS</h2>
        <section class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4"> 
                <div class="m-2 col Bckg-Carte red">
                    <div >
                        <p>PASSAGE</p>
                        <h4>94</h4>
                        <p>Millions de passagers transportés par le Groupe Europe Handling en 2023.</p>
                    </div>
                </div>
                <div class="m-2 col Bckg-Carte red">
                    <div>
                        <p>PASSAGE</p>
                        <h4>80</h4>
                        <p>Pays desservis par le Groupe Europe Handling sur tous les continents.</p>
                    </div>
                </div>
                <div class="m-2 col Bckg-Carte red"> 
                    <div>
                        <p>DÉVELOPPEMENT DURABLE</p>
                        <h4>-30%</h4>
                        <p>Réduction d’émissions de CO2 par passager-kilomètre d’ici 2030 par rapport à 2020.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <h3 class="m-2 w-25 p-1 Bckg-button"><a href={{path('nosChiffres')}}>Tous Nos Chiffres<a/></h3>
        </div>
    </main>
{% endblock %}
