{% extends 'pages/base.html.twig' %}

{% block title %}
    MentionsLegales
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/mentionslegales.css">
{% endblock %}

{% block body %}
    <main class="container my-2">

        <h1 class="m-4"> MENTIONS LÉGALES</h1>
        
        <p class="m-3">(réglementées par la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique)</p>

        <h4>Propriétaire du site Internet : </h4> 
        <p class="m-3">Groupe Europe Handling
        Adresse : 16, rue des 2 Cèdres, CS 12036, Roissy CDG Cedex, 95722, France
        </p>   


        <h4> Créateur du site Internet :</h4>
        <p class="m-3">Digital In Progress
        Adresse : 12 rue du Rocher 75008 Paris
        Site internet : www.digital-in-progress.com
        </p> 


        <h4>Hébergement du site :</h4>
        <p class="m-3">Ionos</p> 
        

        <h4>Responsable de publication </h4>
        <p class="m-3"> Directeur de publication : Christophe Blondel Deblangy
        Si vous remarquez une erreur ou un lien erroné sur ce site merci de nous contacter.
        </p> 


        <h4>Droits d’auteur </h4>
        <p class="m-3"> L’ensemble de ce site relève de la législation française sur le droit d’auteur et la propriété intellectuelle. En application de la loi du 11 mars 1957 (art. 41) et du code de la propriété intellectuelle du 1er juillet 1992, toute représentation, reproduction, modification, utilisation commerciale, partielle ou totale ainsi que tout transfert vers un autre site sont interdits, sauf autorisation de la société Groupe Europe Handling. Les logos, visuels et pdf sur ce site sont la propriété de la société Groupe Europe Handling. Toute reproduction intégrale ou partielle de ce site ou de l’un des éléments qui le compose est interdite. La société Groupe Europe Handling se réserve le droit de demander des dommages et intérêts en cas de contrefaçon 
        et plus généralement d’atteinte à ses droits de propriété intellectuelle.
        </p> 


        <h4>Gestion des liens </h4>
        <p class="m-3">Le site contient des liens vers d’autres sites Web ou d’autres sources Internet. Dans la mesure où la société Groupe Europe Handling ne peut contrôler ces sites et ces sources externes, la société ne peut être tenue pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter aucune responsabilité quant au contenu, publicités, produits, services ou tout autre matériel 
        disponible sur ou à partir de ces sites ou sources externes.
        </p> 
        
        <p class="m-3"> L’internaute reconnaît que l’utilisation du site internet de la société 
        Groupe Europe Handling est régie par le droit français. 
        (réglementées par la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique).
        </p> 


    </main>
{% endblock %}