{% extends 'pages/base.html.twig' %}

{% block title %}
    Blog - Page d'accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/home.css">
{% endblock %}

{% block body %}
<h1>Page d'Emplois</h1>

{% endblock %}
