{% extends 'pages/base.html.twig' %}

{% block title %}
    Blog - Page d'offres
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}

    <!-- Contenu principal -->
    <h1>10 Offres disponible</h1>
    <section class="container-fluid">
        <div class="row">
            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>

            <div class="m-2 col-12 col-md-6 col-lg-3 card ">
                <div>
                    <h4 class="h-black">Offre d'emploi : Agent de Piste (H/F) </h4>
                    <p>
                        Roissy-en-France
                    </p>
                    <p>
                        Mise en ligne le 31/10/2024
                    </p>
                    <div class="type">
                        <div class="contrat">
                            <p>CDI</p>
                        </div>
                        <div class="modalites">
                            <p>TELETRAVAIL</p>
                        </div>
                    </div>
                    <p>
                        Description du poste:
                        Vous êtes passionné(e) par l'univers aéroportuaire et souhaitez contribuer à la bonne gestion des opérations au sol ? 
                        Rejoignez notre équipe en tant qu'Agent de Piste (H/F).
                        En tant qu'Agent de Piste, vous jouerez un rôle essentiel dans le bon déroulement des activités autour des avions, 
                        garantissant sécurité, efficacité et ponctualité.
                    </p>
                </div>
            </div>
    </section>

{% endblock %}
