{% extends 'pages/base.html.twig' %}

{% block title %}
    NosServices
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/service.css">
{% endblock %}

{% block body %}
    <main class="container">
    
        <h2>NOS SERVICES</h2>
        <div class="row">
            <div class="flex col-12 col-md-12 col-lg-12 m-2 Bckg-Carte service-carte">
                    
                <div>
                    <img class="img-NosService" src="img/photos NosServices.png">
                    <h3 class="h-black">25 juillet 2024</h3>
                    <br>
                    <h5>GEH inaugure un nouveaux parcours d'exception à Paris-Charles de Gaulle pour ses clients La Première </h5>
                    <br>
                    <p>
                        Un cheminement totalement privé et confidentiel, de l'arrivée à l'aeroport jusqu'a l'installation  bord de l'avion;
                        De nouvelles suites en aéroport disponible en option pour encore pplus d'intimité, en complément du salon La Première.
                    </p>
                </div>
            </div>
        </div>
    
    <section class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">

                <div class="m-2 col Bckg-Carte">
                    <img src="img/photo4aero.jpg" alt="" >
                    <div class="carte-texte">
                        <h4 class="h-black">Piste</h4>
                        <br>
                        <p>
                            Chargement, déchargement et transport des bagages du fret et de la poste, Placement avion, Tractage, repoussage, départs au casque
                            Livraison de pièces d’avion Nettoyage avion, Eau potable et vidange, Transport des passagers et équipages.
                        </p>
                    </div>
                </div>

                <div class="m-2 col Bckg-Carte">
                    <img src="img/Photo-GEH-Passager.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Services aux passagers</h4>
                        <br>
                        <p>
                            Accueil passagers, Enregistrement, embarquement et débarquement, Billetterie, Traitement des passagers en correspondance
                        </p>
                    </div>
                </div>

                <div class="m-2 col Bckg-Carte">
                    <img src="img/Photo-GEH-Bagages.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Traitements des bagages</h4>
                        <br>
                        <p>
                            Gestion des ULD Réconciliation bagages (manuelle ou BRS) Manutention des bagages en galerie
                            Livraison des bagages sous bord au départ et au tapis à l’arrivée Traitement des bagages en correspondance et supervision des flux 
                            Litiges bagages : traitement des AHL, OHD, FWD, DPR
                        </p>
                    </div>
                </div>

                <div class="m-2 col Bckg-Carte">
                    <img src="img/Photo-GEH-Cargo.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Cargo, Livraison et Poste</h4>
                        <br>
                        <p>
                            Transport de fret et de la poste en piste arrivée et départ, Traitement des vols camionnés (Vrac et ULD), 
                            Acceptation, sécurisation, tri, classement et palettisation du fret
                        </p>   
                    </div>
                </div>

                <div class="m-2 col Bckg-Carte">
                    <img src="img/Photo-GEH-Maintenance.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Maintenance</h4>
                        <br>
                        <p>
                            Atelier de maintenance dédié de 3000 m² pour l’entretien et la réparation des véhicules et engins de piste
                        </p>
                    </div>
                </div>

                <div class="m-2 col Bckg-Carte">
                    <img src="img/Photo-GEH-Formation.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Formations</h4>
                        <br>
                        <p>
                            Métiers : Piste, Trafic, Passage
                            Réglementaires : Marchandises dangereuses, Sureté, Sécurité des opérations (facteurs humain, SMS, sécurité en piste)
                            Santé sécurité au travail (TMS, équipier de premier intervention, SST) Permis
                        </p>
                    </div>
                </div>
            
                <div class="m-2 col Bckg-Carte">
                    <img src="img/Trafic.webp" alt="">
                    <div class="carte-texte">
                        <h4 class="h-black">Trafic</h4>
                        <br>
                        <p>
                            Coordination de la rotation avion et contrôle du chargement,
                            Réalisation des états de chargement (masse et centrage) localement ou à distance
                        </p>   
                    </div>
                </div>
            </div>
    </section>
    
        <!-- Section : Nos implementation -->
        <section class="container">
        <div class="row implemantation-Card p-5">
            <div class="col-12">
                <h3>NOS IMPLEMENTATIONS</h3>
                <div>
                    <p>
                    Groupe Europe Handling a su s'implanter dans différentes régions 
                    du monde 
                    </p>
                </div>

            </div>
            <img src="img/Capture d’écran implantations.png" alt="Implementation" width="100%">
        </div>
        </section>

    </main>
{% endblock %}