{% extends 'pages/base.html.twig' %}

{% block title %}
    PolitiquesUtilisation
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/mentionslegales.css">
{% endblock %}

{% block body %}
    <main class="container my-2">
        <h1 class="m-4">Politiques D'utilisation</h1>       
        <p class="m-3">
            Bienvenue sur [Groupe Europe Handling], un site dédié à la mise en relation entre candidats et recruteurs dans le domaine des services aéroportuaires. L’utilisation de notre plateforme est soumise à la présente Politique d’utilisation. 
            En accédant ou en utilisant nos services, vous acceptez de respecter ces conditions.
        </p>
        <h4>Objet de la politique d'utilisation : </h4> 
        <p class="m-3">
            La présente politique définit les règles et conditions d’utilisation du site [Groupe Europe Handling] 
            pour garantir une expérience sécurisée, respectueuse et conforme à la loi pour tous les utilisateurs.
        </p>   
        <h4>Accès au site et création de compte :</h4>
        <p class="m-3">
            - L'accès aux fonctionnalités principales (recherche d’offres, envoi de candidatures, gestion des annonces) nécessite la création d’un compte utilisateur.
            - Lors de votre inscription, vous devez fournir des informations exactes, à jour et complètes. Vous êtes responsable de la mise à jour de ces informations.
            - L’utilisation de votre compte est strictement personnelle. Vous êtes tenu de protéger vos identifiants et de ne pas les partager.
        </p> 
        <h4>Comportement des utilisateurs :</h4>
        <p class="m-3">
            En utilisant notre site, vous vous engagez à :
            - Respecter les lois en vigueur et les droits des autres utilisateurs.
            - Ne pas publier ou partager des contenus illégaux, injurieux, discriminatoires, menaçants ou inappropriés.
            - Ne pas utiliser le site à des fins frauduleuses ou malveillantes, notamment pour diffuser des virus ou des logiciels malveillants.
            - Ne pas collecter ou utiliser les informations personnelles d’autres utilisateurs sans leur consentement explicite.
            Toute violation de ces règles peut entraîner la suspension ou la suppression de votre compte sans préavis.
        </p> 
        <h4>Utilisation des services :</h4>
        <p class="m-3"> 
            Pour les candidats : Vous pouvez consulter les offres d’emploi, postuler aux offres, ou envoyer des candidatures spontanées. Vous êtes responsable du contenu des informations fournies (CV, lettre de motivation etc..) et de leur exactitude.
            Pour les employeurs : Vous pouvez publier des offres d’emploi, consulter les candidatures reçues, et interagir avec les candidats par mail ou telephone. Toutes les annonces publiées doivent être conformes à la réglementation en vigueur (notamment sur la discrimination à l’embauche).
            Nous nous réservons le droit de modérer ou de supprimer tout contenu jugé inapproprié ou contraire à nos règles.
        </p> 
        <h4>Propriété intellectuelle :</h4>
        <p class="m-3"> 
            Tous les contenus présents sur le site (textes, images, logos, vidéos, etc.) sont protégés par les droits de propriété intellectuelle et appartiennent à [Nom de l’entreprise] ou à leurs auteurs respectifs.
            Il est interdit de copier, reproduire ou diffuser ces contenus sans autorisation préalable.
        </p> 
        <h4>Limitation de responsabilité :</h4>
        <p class="m-3">
            Nous mettons tout en œuvre pour garantir le bon fonctionnement du site et la sécurité des données, mais nous ne pouvons être tenus responsables des :
            Interruptions temporaires ou pannes techniques.
            Contenus fournis par des tiers (offres d’emploi, candidatures).
            Mauvaises utilisations des informations partagées sur la plateforme.
        </p>         
        <h4>Suspension et résiliation de compte :</h4>
        <p class="m-3">
            Nous nous réservons le droit de suspendre ou de résilier un compte utilisateur en cas de :
            - Non-respect des présentes conditions d’utilisation.
            - Utilisation frauduleuse ou abusive du site.
            - Fourniture d’informations fausses ou trompeuses.
            Avant toute suspension, un avertissement peut être envoyé à l’utilisateur, sauf en cas de faute grave.
        </p>         

    </main>
{% endblock %}