@import url(./compenent/global.css);
/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;
    color: black;
}

/* color */
.shadow-blue {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    0px 0px 15px 5px #06439c;
    box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    0px 0px 15px 5px #06439c;
}

.h-blue {
    color: #06439c;
}

#p {
    color: rgba(255, 255, 255, 0.5);
}


#h6 {
    text-align: left;
    padding-top: 100px;
    font-size: large;
    color: rgba(0, 0, 0, 0.8);
}


/* MAIN */

main {
    padding: 20px;
    margin-top: 100px; /* Add margin-top to offset the fixed navbar */
}

#img {
    padding-top: 100px;
    min-width: 150px;
    min-height: 400px;
}

.Bckg-Carte #img:hover {
    padding-top: 100px;
    min-width: 300px;
    min-height: 800px;
}

.Bckg-Carte {
    background: white;
    width: 100%;
    border: 6px solid navy;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    /* transition: background 5s; color 1s; */
}

.Bckg-Carte:hover {
    background: #003165;
    border: 10px solid navy;
    color: white;
}

.Bckg-Carte img {
    width: 200%;
    height: 400px;
    display: block;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: transform 3s, width 5s, height 5s;
}

.Bckg-Carte img:hover {
    width: 300%;
    height: 600px;
    transform: rotate(50deg);
}


.Bckg-Carte img:nth-of-type(1) {
    margin: 300px;
    transform: translateX(-50%);
}

.Bckg-button {
    font-size: 1.5rem;
    color: navy;
    border: 4px solid navy;
    border-radius: 0.5rem;
}

h2 {
    font-size: 3rem;
}

#h6 {
    color: white;
}

.carte-texte {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px 30px 100px 10px;
    font-size: large;
}

.bold {
    font-size: 50px;
}

.carte-texte h4:hover {
    font-size: 100px;
}
.carte-texte p {
    font-size: 40px;
}

.Bckg-Carte1 {
    background: rgb(198, 220, 245);
    min-width: 100%;
    border: 6px solid navy;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.Bckg-Carte1:hover {
    border: 10px solid navy;

}

.Bckg-Carte1 h2:hover {
    font-size: 100px;
}

.Bckg-Carte1 p {
    font-size: 30px;
}

.Bckg-Carte2 {
    background: rgb(209, 226, 247);
    width: 100%;
    border: 6px solid navy;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.Bckg-Carte2:hover {
    border: 10px solid navy;
}

.Bckg-Carte2 h2:hover {
    font-size: 100px;
}

.Bckg-Carte2 p {
    font-size: 30px;
}


.Bckg-Carte3 {
    background: rgb(198, 220, 245);
    width: 100%;
    border: 6px solid navy;
    border-radius: 8px;
    overflow: hidden;
}

.Bckg-Carte3 h2:hover {
    font-size: 100px;
}

.Bckg-Carte3 p {
    font-size: 30px;
}


.Bckg-Carte2:hover {
    border: 10px solid navy;
}


#img2 {
    min-width: 300px;
    min-height: 800px;
}

#img3 {
    min-width: 300px;
    min-height: 800px;
}

#img4 {
    min-width: 300px;
    min-height: 800px;
}

.Bckg-div {
    background-color: whitesmoke;
    padding-left: 100%;
    padding-right: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

