@import url(./compenent/global.css);
/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    background: rgb(2,4,25);
    background: linear-gradient(260deg, rgba(2,4,25,1) 19%, rgba(159,9,9,1) 88%);
    color: white; 
    box-sizing: border-box;
}

/* color */
.shadow-blue {
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 15px 5px #06439C; 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 0px 0px 15px 5px #06439C;
}

.h-black {
    color: black;
}

#p {
    color: rgba(255, 255, 255, 0.5);
}



/* MAIN */

/* main {
    padding: 20px;
    margin-top: 100px; /* Add margin-top to offset the fixed navbar 
}
*/


.Bckg-Carte {
    background: white;
    width: 400px;
    border: 2px solid navy;
    border-radius: 8px;
    overflow: hidden;
    transition: background 3s;
}

.Bckg-Carte:hover {
    background: #003165;
    border: 2px solid navy;
}

.Bckg-Carte img {
    width: 200%;
    height: 400px; 
    display:block;
    margin: 0 auto;
    transform: translateX(-50%);
    transition: transform 3s, width 5s, height 5s;
}



.Bckg-button {
    font-size: 1.5rem;
    color: navy;
    border: 4px solid navy;
    border-radius: 0.5rem ;
}

h2 {
    font-size: 3rem;
}

.carte-texte {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px 30px 100px 10px;
    font-size: xx-large;

}


.img-NosService {

    object-fit: cover; 
    object-position: 243px 4px;
    margin: -20px;

}


.service-carte {
    z-index: 10;
    width: 100%;
    overflow: hidden;
    padding: 32px;
    font-size: large;
}

.implemantation-Card {
    background: linear-gradient(260deg, rgba(2,4,25,1) 19%, rgba(159,9,9,1) 88%);

}


.implemantation-Card h3 {
    text-align: center;
    font-size: 2rem;
}

.implemantation-Card p {
    text-align: center;
    padding: 20px;

}







