{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de candidatureSpontanée
{% endblock %}

{% block body %}

    <div class="container p-4 bg-light rounded shadow-sm">
        <h2 class="text-dark font-weight-semibold mb-4 text-center">Candidature Spontanee</h2>

        {# Commence le formulaire de connexion #}
        <h3>Mes pièces jointes</h3>

        <p>Note seul les fichiers de type pdf sont autorisé.</p>

        <h4>CV</h4>

        <p>Merci de telecharger votre CV ici.</p>


        <p>Note seul les fichiers de type pdf sont autorisé.</p>

        <h4>LM</h4>

        <p>Merci de telecharger votre LM ici.</p>

    </div>

    {# Affiche un message d'erreur s'il y a un problème de connexion #}


{% endblock %}