{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de candidatureSpontanée
{% endblock %}

{% block body %}

    <h1 class="text-center display-4 font-weight-bold my-5">Connectez-vous</h1>

    <div class="container p-4 bg-light rounded shadow-sm">
        <h2 class="text-dark font-weight-semibold mb-4 text-center">Connexion</h2>

        {# Commence le formulaire de connexion #}
        

    </div>

    {# Affiche un message d'erreur s'il y a un problème de connexion #}


{% endblock %}