<header>
    <div class="container-struct">
        <nav class="navbar">
            <div class="logo-group">
                <a href="{{ path('home') }}">
                    <img class="shadow-blue" src="/img/LogoEuropeHandling.png" alt="Logo Europe Handling">
                </a>
            </div>
            <div class="menu">
                <div class="scroll">
                    <i class="fa-solid fa-bars"></i>
                    <p>MENU</p>
                </div>
            </div>
        </nav>
        <div class="video-container">
            <video autoplay muted loop id="bg-video">
                <source src="video/6472912-hd_1280_720_24fps.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</header>