{% extends 'pages/base.html.twig' %}

{% block title %}
    Page de modification-candidat
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="styles/offres.css">
{% endblock %}

{% block body %}

    <main class="container row">
    <h2 class=" font-weight-semibold mb-4 text-center">Modifier mes informations </h2>
        <input type="button" value="Envoyer">
        <p>*champs obligatoires</p>
            <!-- Cartes -->
            <div class="col">
                <h3>Informations Candidats</h3>

                <h3>Identité</h3>
                <p>Civilité:</p>
                <p>Nom:</p>
                <p>Prenom:</p>

                <h3>Information personnel</h3>

                <h3>Poste recherché</h3>
            </div>

            <div class="col">
                <h3>Mes pièces jointes </h3>
                <p>Note seul les fichiers de type pdf sont autorisé</p>
                
                
            </div>

    </main>




{% endblock %}